<a href="https://colab.research.google.com/github/ansehoon1999/MG-DataAnaylsis/blob/main/%EC%84%B8%ED%9B%88/DataAnaylsis_7_23_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive 

drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
filename_2020 = '/content/gdrive/MyDrive/2020_travel_ok.csv'
filename_2019 =  '/content/gdrive/MyDrive/2019_travel_ok.csv'

In [ ]:
import pandas as pd
import numpy as np

data_2020 = pd.read_csv(filename_2020)
df_2020 = pd.DataFrame(data_2020)
df_2020.head()

print('2020년 데이터 개수: ', len(data_2020))

data_2019 = pd.read_csv(filename_2019)
df_2019 = pd.DataFrame(data_2019)
df_2019.head()

print('2019년 데이터 개수: ', len(data_2019))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,9,10,11,12,13,14,15,16,17,18,20,21,22,23,24,25,26,213,316,419,1152,2047) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2020년 데이터 개수:  15592

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (43,127,199,211,283,295,367,451,535,619,1016) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2019년 데이터 개수:  48269

In [ ]:
df_age_1 =  df_2019.groupby('BAGE').get_group(1)
df_age_2 = df_2019.groupby('BAGE').get_group(2)
df_age_3 = df_2019.groupby('BAGE').get_group(3)
df_age_4 = df_2019.groupby('BAGE').get_group(4)
df_age_5 = df_2019.groupby('BAGE').get_group(5)
df_age_6 = df_2019.groupby('BAGE').get_group(6)
df_age_7 = df_2019.groupby('BAGE').get_group(7)

In [ ]:
result = [
          [0]*21, 
          [0]*21,          
          [0]*21, 
          [0]*21, 
          [0]*21, 
          [0]*21, 
          [0]*21        
]

count = [
          [0]*21, 
          [0]*21,          
          [0]*21, 
          [0]*21, 
          [0]*21, 
          [0]*21, 
          [0]*21        
]

df_expense = df_age_1[['NA9_1', 'NA9_2', 'NA9_3', 'NA9_4', 'NA9_5', 'NA9_6', 'NA9_7', 'NA9_8', 'NA9_9', 'NA9_10', 'NA9_TOTAL', 'NA10A', 'NA10B', 'NA10C', 'NA10D' , 'NA10E', 'NA10F', 'NA10G', 'NA10H', 'NA10I', 'NA10']]
for i in range(21) :
  for j in range(len(df_expense)) :
    if df_expense.iloc[j, i]  == '#NULL!' :
      continue
    elif df_expense.iloc[j, i]  == '0' :
      continue
    elif df_expense.iloc[j, i]  == 0 :
      continue
    else :
      count[0][i] = count[0][i] + 1
      result[0][i] = result[0][i] + float(df_expense.iloc[j, i])

df_expense = df_age_2[['NA9_1', 'NA9_2', 'NA9_3', 'NA9_4', 'NA9_5', 'NA9_6', 'NA9_7', 'NA9_8', 'NA9_9', 'NA9_10', 'NA9_TOTAL', 'NA10A', 'NA10B', 'NA10C', 'NA10D' , 'NA10E', 'NA10F', 'NA10G', 'NA10H', 'NA10I', 'NA10']]
for i in range(21) :
  for j in range(len(df_expense)) :
    if df_expense.iloc[j, i]  == '#NULL!' :
      continue
    elif df_expense.iloc[j, i]  == '0' :
      continue
    elif df_expense.iloc[j, i]  == 0 :
      continue
    else :
      count[1][i] = count[1][i] + 1
      result[1][i] = result[1][i] + float(df_expense.iloc[j, i])

df_expense = df_age_3[['NA9_1', 'NA9_2', 'NA9_3', 'NA9_4', 'NA9_5', 'NA9_6', 'NA9_7', 'NA9_8', 'NA9_9', 'NA9_10', 'NA9_TOTAL', 'NA10A', 'NA10B', 'NA10C', 'NA10D' , 'NA10E', 'NA10F', 'NA10G', 'NA10H', 'NA10I', 'NA10']]
for i in range(21) :
  for j in range(len(df_expense)) :
    if df_expense.iloc[j, i]  == '#NULL!' :
      continue
    elif df_expense.iloc[j, i]  == '0' :
      continue
    elif df_expense.iloc[j, i]  == 0 :
      continue
    else :
      count[2][i] = count[2][i] + 1
      result[2][i] = result[2][i] + float(df_expense.iloc[j, i])

df_expense = df_age_4[['NA9_1', 'NA9_2', 'NA9_3', 'NA9_4', 'NA9_5', 'NA9_6', 'NA9_7', 'NA9_8', 'NA9_9', 'NA9_10', 'NA9_TOTAL', 'NA10A', 'NA10B', 'NA10C', 'NA10D' , 'NA10E', 'NA10F', 'NA10G', 'NA10H', 'NA10I', 'NA10']]
for i in range(21) :
  for j in range(len(df_expense)) :
    if df_expense.iloc[j, i]  == '#NULL!' :
      continue
    elif df_expense.iloc[j, i]  == '0' :
      continue
    elif df_expense.iloc[j, i]  == 0 :
      continue
    else :
      count[3][i] = count[3][i] + 1
      result[3][i] = result[3][i] + float(df_expense.iloc[j, i])

df_expense = df_age_5[['NA9_1', 'NA9_2', 'NA9_3', 'NA9_4', 'NA9_5', 'NA9_6', 'NA9_7', 'NA9_8', 'NA9_9', 'NA9_10', 'NA9_TOTAL', 'NA10A', 'NA10B', 'NA10C', 'NA10D' , 'NA10E', 'NA10F', 'NA10G', 'NA10H', 'NA10I', 'NA10']]
for i in range(21) :
  for j in range(len(df_expense)) :
    if df_expense.iloc[j, i]  == '#NULL!' :
      continue
    elif df_expense.iloc[j, i]  == '0' :
      continue
    elif df_expense.iloc[j, i]  == 0 :
      continue
    else :
      count[4][i] = count[4][i] + 1
      result[4][i] = result[4][i] + float(df_expense.iloc[j, i])

df_expense = df_age_6[['NA9_1', 'NA9_2', 'NA9_3', 'NA9_4', 'NA9_5', 'NA9_6', 'NA9_7', 'NA9_8', 'NA9_9', 'NA9_10', 'NA9_TOTAL', 'NA10A', 'NA10B', 'NA10C', 'NA10D' , 'NA10E', 'NA10F', 'NA10G', 'NA10H', 'NA10I', 'NA10']]
for i in range(21) :
  for j in range(len(df_expense)) :
    if df_expense.iloc[j, i]  == '#NULL!' :
      continue
    elif df_expense.iloc[j, i]  == '0' :
      continue
    elif df_expense.iloc[j, i]  == 0 :
      continue
    else :
      count[5][i] = count[5][i] + 1
      result[5][i] = result[5][i] + float(df_expense.iloc[j, i])

df_expense = df_age_7[['NA9_1', 'NA9_2', 'NA9_3', 'NA9_4', 'NA9_5', 'NA9_6', 'NA9_7', 'NA9_8', 'NA9_9', 'NA9_10', 'NA9_TOTAL', 'NA10A', 'NA10B', 'NA10C', 'NA10D' , 'NA10E', 'NA10F', 'NA10G', 'NA10H', 'NA10I', 'NA10']]
for i in range(21) :
  for j in range(len(df_expense)) :
    if df_expense.iloc[j, i]  == '#NULL!' :
      continue
    elif df_expense.iloc[j, i]  == '0' :
      continue
    elif df_expense.iloc[j, i]  == 0 :
      continue
    else :
      count[6][i] = count[6][i] + 1
      result[6][i] = result[6][i] + float(df_expense.iloc[j, i])

In [ ]:
for i in range(7) :
  for j in range(21) :
    if count[i][j] == 0 :
      result[i][j] =0 
    else :
      result[i][j] = result[i][j]/count[i][j]

print(result)

ZeroDivisionError: ignored